<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
<title><%= (typeof title !== 'undefined' && title) ? title : 'App' %></title>
  <link rel="stylesheet" href="/resources/css/style.css" />
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>
<body>
  <main class="container">