
<%- include('partials/_head') %>
<h1>Bienvenido a la plataforma</h1>

<% if (login) { %>
  <p>Sesi贸n iniciada como: <strong><%= name %></strong></p>
  <a href="/logout" class="btn">Cerrar sesi贸n</a>
<% } else { %>
  <p>No has iniciado sesi贸n.</p>
  <a href="/login" class="btn">Iniciar sesi贸n</a>
<% } %>
<%- include('partials/_foot') %>